<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>KeyGhost</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.lukeboyle.keyghost</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>KeyGhost</string>
    <key>CFBundleDisplayName</key>
    <string>KeyGhost</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>__VERSION__</string>
    <key>CFBundleVersion</key>
    <string>__BUILD__</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Luke Boyle</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>KeyGhost launches the apps you bind to letter keys when you hold Hyperkey.</string>
    <key>SUFeedURL</key>
    <string>https://keyghost.lukeboyle.com/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>Y0ojNYTJf0bCQaPb0nBCVS1yHlpaZDp9+XAP8n6IqDQ=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>
